body {
    background-image: url(../images/ice-hockey-texture-free.jpg);
    background-size: 100%;
    font-family: 'Luckiest Guy', cursive;
}
.container {
    width: 1600px;
    height: 600px;
}
.jumbotron {
    margin-top: 60px;
    background-color: rgb(110, 187, 187);
    border: 3px solid rgb(252, 251, 251);
    font-weight: 900;
    opacity: 0.6;
}
h1 {
    font-size: 100px;
    font-family: 'Monoton', cursive;
    color: white;
}

.containerGame {
    margin-top: 100px;
    margin-left: 900px;
    text-align: left;
}
.btnContainer {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 50px;
}
.btn,
.btn-default, 
.btn-lg,
.startBtn {
    background-color:rgb(55, 96, 99);
    margin-top: 60px;
    color: white;
    margin-left: 50px;
    margin-bottom: 300px;
}
